<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Dynamic Calculation</title>
    <script src='/static/js/app.js'></script>
</head>
<body>
    <h1>Dynamic Calculation</h1>
    <form id='calcForm'>
        <div id='inputs'>   
            <input type='number' name='value' placeholder='Enter a value'>
        </div>
        <button type='button' onclick='addInput()'>Add Input</button>
        <button type='submit'>Calculate</button>
    </form>
    <div id='result'></div>
</body>
</html>
